{% load static %}
{% include 'inc/head.inc.html' %}

{% include 'inc/navbar.inc.html' %}

<body style="background-color: #ffffff;">
    <div class="row" style="width: 100%;">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 90vh">
    
            <div class="my-form" id="mainDiv">
                <h3 class="text-info">Registration</h3>
                <form autocomplete="off" style="text-align:center; margin-top: 20px;" action="makeAccount" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="p-0 my-2" style="width:50%; margin:auto; text-align:center">
                        <div>
                            <img id="blah" onclick="upload_img();" style="width:164px; height:164px; margin:auto; cursor:pointer; border-radius: 100%;" src="{% static 'img/profile_icon.png' %}" alt="Card image">
                        </div>
                    
                        <div style="height:0px; overflow:hidden">
                            <input type="file" id="pic" onchange="readURL(this);" name="image" required>

                        </div>

                    </div>
                    <input type="hidden" name="inviteId" id="inviteId" value="{{request.GET.inviteId}}">
                    <input class="field form-control" id="name" name="name" type="text" value="{{name}}" placeholder="First name" required>
                    <input class="field form-control" id="l_name" name="l_name" type="text" value="{{l_name}}" placeholder="Last name" required>
                    <input class="field form-control" id="email" name="email" type="email" value="{{email}}" placeholder="Email" required>
                    <input class="field form-control" id="pass1" name="pass1" type="password" value="{{pass1}}" placeholder="Password" required>
                    <input class="field form-control" id="pass2" name="pass2" type="password" value="{{pass2}}" placeholder="Confirm Password" required>
                    <p id="error" 
                        style="
                            text-align: left; 
                            transition-duration:0.25s;
                            color:#ed4337;"
                        >
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                    </p>
                    <button class="btn btn-block btn-info" type="submit">SIGNUP</button>        
                    <p class="my-4">Already registered?</p>
                    <a href="{% url 'login' %}"><button class="btn btn-block btn-secondary" type="button">LOGIN</button></a>
                    <br>        
                </form>
            </div>
        </div>
    </div>    
</body>

<script>
    var x = "{{border}}";
    if(x=="email"){
        $("#email").css(
            'border-color', '#ed4337'
        );
    }else if(x=="password"){
        $("#pass1, #pass2").css(
            'border-color', '#ed4337'
        );
    }else if(x=="phone"){
        $("#username").css(
            'border-color', '#ed4337'
        );
    };

    if ('{{inviteId}}'.trim()!="") {
        $("#inviteId").val('{{inviteId}}');
    }

    function upload_img() {
        $("#pic").click();
    }

    function readURL(input) {
        nameFile = input.files[0].name.split(".");
        nameFile = nameFile[nameFile.length-1];
        console.log(nameFile);
        if(nameFile=="jpg" || nameFile=="jpeg" || nameFile=="png"){
            if (input.files && input.files[0]) {
                var reader = new FileReader();
    
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(164)
                        .height(164);
                };
    
                reader.readAsDataURL(input.files[0]);
            }
        }else{
            $("#mainDiv").load(location.href + " #mainDiv>*", "");
            alert("Invalid file type!");
        }
        
    }

</script>

</html>
